<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapriddle.mapriddle" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.joanna.nonograms.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.example.joanna.nonograms.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.krzysztof.magicsquare.GameMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.krzysztof.magicsquare.FirstLevel"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.krzysztof.magicsquare.GameRules"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.krzysztof.magicsquare.SecondLevel"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.wojtek.nurikabe.DisplayMessageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.wojtek.nurikabe.GameRules"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.wojtek.nurikabe.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.wojtek.nurikabe.PlayLevel"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RiddleMapPlayActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RiddleMapCreateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RiddleMapListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PlayMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
