<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapriddle.mapriddle" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.joanna.nonograms.StartActivity"
            android:label="@string/title_activity_start"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.example.joanna.nonograms.MainActivity"
            android:label="@string/nonograms_app_name" />
        <activity
            android:name="com.example.krzysztof.magicsquare.FirstLevel"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.krzysztof.magicsquare.SecondLevel"
            android:label="@string/title_activity_second_level"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.krzysztof.magicsquare.GameMenu"
            android:label="@string/title_activity_game_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.krzysztof.magicsquare.GameRules"
            android:label="@string/title_activity_game_rules" />
        <activity
            android:name="com.example.wojtek.nurikabe.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.wojtek.nurikabe.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.wojtek.nurikabe.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wojtek.nurikabe.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wojtek.nurikabe.GameRules"
            android:label="@string/title_activity_game_rules"
            android:parentActivityName="com.example.wojtek.nurikabe.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wojtek.nurikabe.MainActivity" />
        </activity>
        <activity
            android:name="com.example.wojtek.nurikabe.PlayLevel"
            android:label="@string/title_activity_play_level"
            android:parentActivityName="com.example.wojtek.nurikabe.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wojtek.nurikabe.MainActivity" />
        </activity>
        <activity
            android:name=".RiddleMapPlayActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RiddleMapCreateActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RiddleMapListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CreateRiddleMenu"
            android:label="@string/app_name" />
        <activity
            android:name=".PlayMenu"
            android:label="@string/app_name" />
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.joanna.nonograms.RulesActivity"
            android:label="@string/title_activity_rules" >
        </activity>
        <activity
            android:name="com.example.wojtek.nurikabe.SetParams"
            android:label="@string/title_activity_set_params"
            android:parentActivityName="com.example.wojtek.nurikabe.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wojtek.nurikabe.MainActivity" />
        </activity>
        <activity
            android:name=".CreateMenu"
            android:label="@string/title_activity_menu_create" >
        </activity>
        <activity
            android:name=".CreatePrizeMenu"
            android:label="@string/title_activity_create_prize_menu" >
        </activity>
    </application>

</manifest>
